---
layout: default
---

{% assign tags = "" %}
{% for tag in site.tags %}
  {% assign tags = tags | append: tag[0] | append: "|" %}
{% endfor %}
{% assign tags = tags | split:'|' | sort %}

<a class="all-topics" href="javascript:clearTopicSelection();">All topics</a>

<ul class="topics" id="topics-list">
  {% for tag in tags %}
    <li class="topic" id="topic-{{tag}}">
      <a class="topic-title" href="#{{tag}}">{{tag}}</a>
      <ul class="topic-posts">
        {% for post in site.posts %}
          {% if post.tags contains tag %}
            <li class="topic-post">
              <a href="{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
