<header class="site-header wrapper">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img class="my-avatar" src="https://www.gravatar.com/avatar/2c41115521424eb593d93c44b92ced0c">
    </img>
    {{ site.title }}
  </a>

  <ul class="contact-list">
    {% for contact in site.contact_list %}
    <li>
      <a target="_blank" href="{{contact.url}}" title="{{contact.name}}">
        <span class="icon icon-{{contact.service}}">
          {% include {{contact.icon}} %}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
</header>
