.site-header {
  min-height: 56px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.site-title {
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: -1px;
  width: 50%;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    text-decoration: none;
  }

  .my-avatar {
    width: 100px;
    border-radius: 100px;
  }
}

.contact-list {
  margin-left: 0;
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-evenly;

  li {
    margin: 0 .1em .2em;
  }

  .icon {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon > svg {
    display: inline-block;
    vertical-align: middle;
    width: $icon-size;
    height: $icon-size;

    path {
      fill: $grey-color;
    }

    &:hover {
      path {
        fill: $text-color;
      }
    }
  }

  .icon-gitlab,
  .icon-email {
    background-color: $grey-color;

    &:hover {
      background-color:  $text-color;
    }
  }

  .icon-gitlab > svg,
  .icon-email > svg {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    vertical-align: middle;

    path, polygon, polyline {
      fill: $background-color;
    }

    &:hover {
      path, polygon, polyline {
        fill: $background-color;
      }
    }
  }
}

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-header {
  margin-bottom: $spacing-unit;

  .post-meta {
    margin-bottom: 0;
    line-height: 1;
  }

}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-title {
  font-size: 42px;
  line-height: 1;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
