.site-header {
  position: relative;
  min-height: 56px;
  margin-top: 10px;
}

.site-title {
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: -1px;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    text-decoration: none;
  }

  .my-avatar {
    width: 100px;
    border-radius: 100px;
  }
}

.site-nav {
  float: right;
  line-height: 100px;
}


.site-footer {
  padding: $spacing-unit 0;
  border-top: 1px solid $grey-color-light;

  .contact-list {
    float: left;
    width: 40%;
  }

  .tags-list {
    float: right;
    width: 40%;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline;
    }

    li > a,
    li > a:visited {
      font-size: $small-font-size;
      color: $grey-color;
      text-decoration: none;
    }
  }
}

.footer-heading {
  margin-bottom: $spacing-unit / 2;
  font-size: 18px;
}

.contact-list {
  margin-left: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-bottom: .2em;
  }
}

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-header {
  margin-bottom: $spacing-unit;

  .post-meta {
    margin-bottom: 0;
    line-height: 1;
  }

  .tags-list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      line-height: 1;
    }

    li > a,
    li > a:visited {
      font-size: $small-font-size;
      color: $grey-color;
      text-decoration: none;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-title {
  font-size: 42px;
  line-height: 1;
  letter-spacing: -1px;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
